form {
    position:relative
}

form::after {
    position: absolute;
    content: '';
    top: 0; 
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    border-radius: 5px;
    pointer-events: none;
    background-color: hsl(var(--primary-hue),var(--primary-sat), 20%);
    transition: opacity .3s ease;
}

@keyframes wave {
    0%,100%{opacity: .2;}
    50%{opacity: .5;}
}

@keyframes fade-in {
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: .2;}
}

form.loading::after {
    pointer-events: initial;
    opacity: .3; 
    animation: fade-in 1500ms ease-in-out, wave 1500ms ease-in-out 1500ms infinite alternate;
}

form.loading button[type=submit] {
    background-color: hsl(var(--primary-hue), calc(var(--primary-sat) - 15%), calc(var(--primary-lum) + 5%));
    color: hsla(var(--second-raw), .4)
}